@model SpotMusic.Application.Streaming.Dto.AutorDto

<form method="post" asp-controller="User" asp-action="Salvar">
    <div class="row mb-3">
        <label for="Nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
            <span class="form-field-invalid" asp-validation-for="Nome"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Descricao" class="col-sm-2 col-form-label">Descrição</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", rows = 5, cols=50 })
            <span class="form-field-invalid" asp-validation-for="Descricao"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Backdrop" class="col-sm-2 col-form-label">URL da imagem</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Backdrop, new { @class = "form-control", rows = 5, cols = 50 })
            <span class="form-field-invalid" asp-validation-for="Backdrop"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>