<p *ngIf="exibeTitulo">
  <mat-toolbar color="primary">
    <span> SpotMusic </span>
    <button mat-button (click)="home();">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button (click)="favoritos();">
      <mat-icon>grade</mat-icon>
      Favoritos
    </button>
    <button mat-button (click)="buscar();">
      <mat-icon>search</mat-icon>
      Buscar
    </button>
    <span class="example-spacer"></span>
    <button mat-button (click)="sair();">
      <mat-icon>input</mat-icon>
      Sair
    </button>
  </mat-toolbar>
</p>
<mat-grid-list cols="2">
  <router-outlet></router-outlet>
</mat-grid-list>