@model IEnumerable<SpotMusic.Application.Admin.Dto.UsuarioAdminDto>

<div class="text-center">
    <h1 class="display-4">Usuários</h1>
</div>

<div>
    <a type="button" role="button" class="btn btn-primary" href="/User/Criar">Cadastrar usuário</a>
</div>

<div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Email</td>
                <td>Perfil</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>@(item.Perfil == 1 ? "Full" : "Normal")</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
