button {
  margin: 5px;
}

mat-form-field {
  width: 100%;
}

fieldset {
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 3% 0 3%;
}

.form {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 2% 0 2%;
}

.formulario {
  height: auto;
  width: 600px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  color: aliceblue;
}

.formulario mat-card-header {
  margin: 1%;
}