button {
  margin: 5px;
}

mat-form-field {
  width: 98%;
}

.formulario {
  height: auto;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  color: aliceblue;
}

.form {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 2% 0 2%;
}

.content {
  padding-top: 4%;
}