@model IEnumerable<SpotMusic.Application.Streaming.Dto.MusicaDto>

<div class="text-center">
    <h1 class="display-4">Músicas</h1>
</div>

<div>
    <a type="button" role="button" class="btn btn-primary" href="/Autor/Criar">Cadastrar musica</a>
</div>

<div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Letra</td>
                <td>Autores</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Letra</td>
                    <td>@item.Autores</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
